// color patterns

$background-color : #000;
$heading-font-color : #fff;
$card-font-color : #000;
$notes-you-add-font-color : #b0afaf;
$nav-background-color : #0a1c2d;
$card-color-lime-green : #e7ee9b;
$card-color-grey: #fcfcfc;
$card-color-peach : #f2ac90;
$card-color-purple : #e6cdeb;
$card-color-yellow : #f7cd7f;
$new-button-color : #a859b2;
$delete-button-color : #9a1e13;

// font family

$logo-font-family : 'IBM Plex Serif', serif;
$page-font-family : 'Lato', sans-serif;

// :export {
//     purple : '$card-color-purple';
//     grey_white : '$card-color-grey';
//     yellow : '$card-color-yellow';
//     limegreen : '$card-color-lime-green';
//     peach : '$card-color-peach';
// }