.side-bar {
  padding: 3rem;
  height: 100vh;
  width: 40%;
  background-color: #000;
  color: #fff;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(2000px);
  transition: all;
  transition-duration: 1s;
}
.side-bar .header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0a1c2d;
  margin-bottom: 2rem;
}
.side-bar .header .new-note {
  font-weight: 400;
  text-transform: uppercase;
}
.side-bar .header i {
  color: #b0afaf;
  cursor: pointer;
}
@media only screen and (max-width: 566px) {
  .side-bar .header {
    font-size: 0.8rem;
    padding: 0.8rem;
  }
}
.side-bar form {
  color: #b0afaf;
  height: 82%;
}
.side-bar form input {
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: 0.5rem 0;
  color: #fff;
}
.side-bar form textarea {
  width: 100%;
  padding: 0.5rem 0;
  border: 0;
  margin-bottom: 1.5rem;
  background-color: transparent;
  color: #fff;
}
.side-bar form .notes-title, .side-bar form .edit-notes-title {
  font-size: 2rem;
}
@media only screen and (max-width: 566px) {
  .side-bar form .notes-title, .side-bar form .edit-notes-title {
    font-size: 1rem;
  }
}
.side-bar .side-bar-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-bar .side-bar-foot .select-color {
  display: flex;
  align-items: center;
}
.side-bar .side-bar-foot .select-color .color-selector, .side-bar .side-bar-foot .select-color .color-selector-edit {
  margin-right: 1rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
}
.side-bar .side-bar-foot .select-color .color-selector i, .side-bar .side-bar-foot .select-color .color-selector-edit i {
  display: none;
}
@media only screen and (max-width: 566px) {
  .side-bar .side-bar-foot .select-color .color-selector i, .side-bar .side-bar-foot .select-color .color-selector-edit i {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 566px) {
  .side-bar .side-bar-foot .select-color .color-selector, .side-bar .side-bar-foot .select-color .color-selector-edit {
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
  }
}
.side-bar .side-bar-foot .select-color .purple {
  background-color: #e6cdeb;
}
.side-bar .side-bar-foot .select-color .grey_white {
  background-color: #fcfcfc;
}
.side-bar .side-bar-foot .select-color .yellow {
  background-color: #f7cd7f;
}
.side-bar .side-bar-foot .select-color .limegreen {
  background-color: #e7ee9b;
}
.side-bar .side-bar-foot .select-color .peach {
  background-color: #f2ac90;
}
.side-bar .side-bar-foot .add-note-button, .side-bar .side-bar-foot .edit-note-button {
  border-radius: 25px;
  padding: 0.5rem 2rem;
  color: #fff;
  border: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #a859b2;
}
@media only screen and (max-width: 566px) {
  .side-bar .side-bar-foot .add-note-button, .side-bar .side-bar-foot .edit-note-button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
.side-bar .side-bar-foot .add-note button:disabled {
  opacity: 0.5;
}
@media only screen and (max-width: 1100px) {
  .side-bar {
    width: 80%;
    padding: 1.5rem;
  }
}

.pop-up, .pop-up-accidental {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38rem;
  padding: 0.8rem;
  z-index: 3;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.pop-up .header, .pop-up-accidental .header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #0a1c2d;
  margin-bottom: 2rem;
}
.pop-up .header .pop-up-header, .pop-up-accidental .header .pop-up-header {
  font-weight: 400;
  text-transform: uppercase;
}
.pop-up .header i, .pop-up-accidental .header i {
  color: #b0afaf;
  cursor: pointer;
}
.pop-up .context-message, .pop-up-accidental .context-message {
  text-align: center;
  margin-bottom: 2rem;
}
.pop-up .delete-button, .pop-up .delete-one-button, .pop-up .close-edit-button, .pop-up .close-edit-single-button, .pop-up-accidental .delete-button, .pop-up-accidental .delete-one-button, .pop-up-accidental .close-edit-button, .pop-up-accidental .close-edit-single-button {
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  color: #fff;
  border: 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #a859b2;
}
@media only screen and (max-width: 768px) {
  .pop-up .delete-button, .pop-up .delete-one-button, .pop-up .close-edit-button, .pop-up .close-edit-single-button, .pop-up-accidental .delete-button, .pop-up-accidental .delete-one-button, .pop-up-accidental .close-edit-button, .pop-up-accidental .close-edit-single-button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 1387px) {
  .pop-up, .pop-up-accidental {
    width: 35rem;
  }
}
@media only screen and (max-width: 1250px) {
  .pop-up, .pop-up-accidental {
    width: 30rem;
  }
}
@media only screen and (max-width: 1024px) {
  .pop-up, .pop-up-accidental {
    width: 25rem;
  }
}
@media only screen and (max-width: 768px) {
  .pop-up, .pop-up-accidental {
    width: 20rem;
  }
}
@media only screen and (max-width: 427px) {
  .pop-up, .pop-up-accidental {
    width: 15rem;
  }
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 28, 45, 0.7);
  z-index: 2;
  cursor: pointer;
}

/*# sourceMappingURL=commons.css.map */
